<div class="row">
  <div class="col-sm-12">

      <hr>

    <div class="jumbotron clearfix">
      <span class="pull-right glyphicon glyphicon-remove" (click)="onClick()"></span>
    <h1>Set your macros</h1>
    <p class="lead">select training or rest protocol</p>
         <hr class="my-4">

    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="form-group">
        <label for="macroProtocol">Select your protocol</label>
        <select class="form-control"
        id="macroProtocol"
        ngModel
        name="macroProtocol">
        
          <option value="training">Training</option>
          <option value="resting">Resting</option>
        </select>
      </div>

      
        <div class="col-md-4">
          <div class="form-group">
            <label for="protein">Protein</label>
            <input type="text"
            id="protein"
            required
            ngModel
            name="protein"
            class="form-control">
          </div>
        </div>

         <div class="col-md-4">
          <div class="form-group">
            <label for="carbs">Carbs</label>
            <input type="text"
            id="protein"
            required
            ngModel
            name="carbs"
            class="form-control">
          </div>
        </div>

         <div class="col-md-4">
          <div class="form-group">
            <label for="fat">Fat</label>
            <input type="text"
            id="protein"
            required
            ngModel
            name="fat"
            class="form-control">
          </div>
        </div>
            <div class="form-actions">
              <span class="help-block"
              *ngIf="macrosSubmitted">
                You have successfully submittted your macros
              </span>
        <button class="btn btn-primary"[disabled]="!form.valid">Submit</button>
            </div>
    </form>
    </div>
  </div>
</div>