<div class="jumbotron clear-fix">
  <img class="pull-right img-thumbnail" [src]="meal.image" alt="">
  <h1 class="display-3">{{meal.name}}</h1>
  <p class="lead">{{meal.description}}</p>  
 
  <hr class="my-4">
   
  <p> Protein : {{meal.protein}}, Carbs: {{meal.carbs}} Fat: {{meal.fat}}</p>
      <div
      class="btn-group dropdown"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Meal <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onLogMeal()" style="cursor: pointer;">Log Meal</a></li>
        <li><a style="cursor: pointer;" (click)="onEditMeal()">Edit Meal</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteMeal()">Delete Meal</a></li>
      </ul>
    </div>
</div>