<a>
  <div class="list-group-item clearfix">
    <div class="pull-left">
   <h1 class="list-group-item-heading">{{meal.name}}</h1>
   <p class="list-group-item-text">{{meal.description}}</p>
    </div>
 <div class="pull-right">
       <img [src]="meal.image" alt="">

  <!--<p class="group-item-text text-right">Protein : {{meal.protein}} grams</p>
  <p class="group-item-text text-right">Carbs : {{meal.carbs}} grams</p>
  <p class="group-item-text text-right">Fats:  {{meal.fat}} grams</p>-->
 </div>
  </div>
</a>